[submodule "input/autocomplete/java-jcommander"]
	path = input/autocomplete/java-jcommander
	url = https://github.com/cbeust/jcommander
[submodule "input/autocomplete/py-flask"]
	path = input/autocomplete/py-flask
	url = https://github.com/pallets/flask
[submodule "input/autocomplete/ts-rspress"]
	path = input/autocomplete/ts-rspress
	url = https://github.com/web-infra-dev/rspress
[submodule "input/autocomplete/go-kong"]
	path = input/autocomplete/go-kong
	url = https://github.com/alecthomas/kong
[submodule "input/autocomplete/php-monica"]
	path = input/autocomplete/php-monica
	url = https://github.com/monicahq/monica
[submodule "input/autocomplete/cs-diffplex"]
	path = input/autocomplete/cs-diffplex
	url = https://github.com/mmanela/diffplex
[submodule "input/autocomplete/cpp-llama.cpp"]
	path = input/autocomplete/cpp-llama.cpp
	url = https://github.com/ggerganov/llama.cpp
[submodule "input/autocomplete/js-svelte"]
	path = input/autocomplete/js-svelte
	url = https://github.com/sveltejs/svelte
